appdirs==1.4.3
APScheduler==3.6.3
attrs==19.3.0
autopep8==1.5
beautifulsoup4==4.8.2
black==19.10b0
bottlenose==1.1.8
certifi==2019.11.28
chardet==3.0.4
Click==7.0
docopt==0.6.2
fake-useragent==0.1.11
Flask==1.1.1
Flask-SocketIO==4.2.1
html2text==2020.1.16
html5lib==1.0.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.5.1
MarkupSafe==1.1.1
pathspec==0.7.0
pycodestyle==2.5.0
pysrt==1.1.2
python-amazon-simple-product-api==2.2.11
python-dateutil==2.8.1
python-engineio==3.11.2
python-socketio==4.4.0
pytz==2019.3
regex==2020.1.8
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
toml==0.10.0
typed-ast==1.4.1
tzlocal==2.0.0
urllib3==1.25.7
webencodings==0.5.1
webvtt-py==0.4.3
Werkzeug==0.16.0
pymongo
dnspython